html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    width: 100%;
    /*height: calc(100vh - 56px); /* Adjust 50px navbar's height */
}

.freq-badge {
    font-size: 0.85rem; /* Adjust the size as needed */
    padding: .5em .75em; /* Adjust padding as needed for better appearance */
}

.leaflet-popup-content-wrapper {
    background-color: rgba(255, 255, 255, 0.75); /* White background with 50% opacity */
}

.leaflet-popup-tip {
    background-color: rgba(255, 255, 255, 0.75); /* Adjust as needed to match the popup content */
}
.airport-detail-row {
    padding-top: 0; /* Reduces space above the row */
}

.progress-bar-row {
    margin-bottom: -25px !important; /* Reduces space above the row */
}
.map-heading {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.50); /* Dark background with 75% opacity */
    color: white !important;
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1001; /* Ensures it's above the map elements */
    font-size: 0.75rem;
    text-decoration: none;
}
.map-controls {
    display: flex; /* Aligns children elements in a row */
    gap: 10px; /* Adds some space between the elements */
    align-items: center; /* Vertically centers the elements */
}

.map-controls input {
    max-width: 200px; /* Adjusts the width of the search bar */
}

.streamers-overlay {
    position: absolute;
    left: 50%; /* Centers horizontally */
    bottom: 10px; /* Position it 10px from the bottom */
    transform: translateX(-50%); /* Adjust horizontal position to truly center */
    width: auto; /* Let it size according to content */
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    z-index: 1001; /* Ensure it's above other map elements */
    color: white; /* Text color */
    text-align: center; /* Center the text */
}

.streamer-item {
    margin: 0 5px; /* Adjust spacing between items */
    animation: fadeInOut 20s infinite;
    cursor: pointer;
    display: inline-block;
    margin-right: 10px;
    color: white;
}

.streamer-separator {
    display: inline-block;
    margin: 0 5px;
    color: white;
}
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

/* Normal state of the label */
.custom-controller-label {
    transition: opacity 0.25s ease-in-out; /* Smooth transition for opacity change */
}

/* Hover state of the label */
.custom-controller-label:hover {
    opacity: 0.65; /* Increase opacity on hover */
}