/* Hide warning by default */
#overlay {
    position: fixed;
    display: none; /* Hidden by default */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 1040; /* Below the alert but above other items */
}

#warning-message {
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050; /* Above the overlay */
}

@media (min-width: 1200px) {
    #warning-message, #overlay {
        display: none; /* Hide alert and overlay on larger screens */
    }
}

body, div, section {
    background-color: #E5E5E5;
}

.navbar-brand {
    font-family: 'Roboto', sans-serif;
}

.navbar, .navbar * {
    background-color: #000 !important;
}

.navbar .fas {
    color: white;
}

.navbar .nav-link {
    color: white !important;
}

.navbar .nav-link:hover {
    color: #ffffff !important; 
    text-decoration: none !important;
}

.navbar .navbar-brand {
    color: white;  /* Makes the text color white */
    
}
.navbar .navbar-brand:hover {
    text-decoration: none;  /* Removes underline on hover */
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:active {
    color: #fff !important;
}



.chat-container {
    max-height: calc(90vh - 60px);  /* 90% of the viewport height minus a fixed amount for the footer */
    overflow: hidden;
}

#chat-content {
    height: 300px; /* Adjust to your preferred height */
    overflow-y: auto;
}

.chat-bg {
    background-color: #FAFAFA;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);  /* Optional subtle shadow */
}

.chat-msg-bg {
    background-color: #FAFAFA;
}

#chat-content {
    height: 300px;  /* 75% of the original 400px */
    overflow-y: scroll;
}
.text-magenta {
    color: magenta !important;
}
.no-gutter > .col {
    padding-right: 5px;
    padding-left: 5px;
}
.custom-header {
    font-size: 0.8rem; /* Adjust as needed */
}
.uniform-width {
    width: 100px;  /* adjust to your desired width */
    /*white-space: nowrap;  /* ensures text doesn't wrap inside the button */
    overflow: hidden;  
    text-overflow: ellipsis;  /* shows '...' for overflowing text */
}
.small-text {
    font-size: 0.6rem;  /* adjust to your desired font size */
}
.slim-button {
    padding: 5px 12px;  /* adjust to your desired padding */
}
#icaoCode {
    text-transform: uppercase;
}
.icao-row {
    margin-top: 150px !important;
}
.gray-banner {
    background-color: #e9ecef; /* Gray color similar to Bootstrap's Jumbotron */
    margin-top: 20px; /* Space from the top, you can adjust as per your requirement */
    margin-bottom: 20px; /* Space from the bottom, adjust if needed */
    border-radius: 5px; /* Rounded corners, adjust if needed */
}
.nav-link:hover {
    cursor: pointer;
}

/* Override Bootstrap variables for a more professional look */

:root {
    --my-primary-color: #34577c;
    --my-secondary-color: #6c757d;
    --my-warning-color: #d49b00;
    --my-danger-color: #b5191f;
    --my-magenta-color: magenta;
    /* Add/modify other colors as necessary */
}

/* Additional styles to give buttons, alerts, etc. a more professional appearance */
.btn-cyan {
    background-color: cyan;
    border-color: cyan;
    color: #000;  /* Text color */
}

.btn-cyan:hover, .btn-cyan:focus, .btn-cyan:active {
    background-color: #00b3b3;
    border-color: #00b3b3;
    color: #000;  /* Text color on hover/focus/active states */
}

.btn-fenix {
    background: linear-gradient(91.6deg, #f16724 1.37%, #ed1d6d 100%);
  }

.progress-bar-fenix {
    background: linear-gradient(91.6deg, #f16724 1.37%, #ed1d6d 100%);
}

.btn-primary {
    background-color: var(--my-primary-color) !important;
    border-color: var(--my-primary-color) !important;
}

.btn-secondary {
    background-color: var(--my-secondary-color) !important;
    border-color: var(--my-secondary-color) !important;
}

.btn-warning {
    background-color: var(--my-warning-color) !important;
    border-color: var(--my-warning-color) !important;
}

.btn-danger {
    background-color: var(--my-danger-color) !important;
    border-color: var(--my-danger-color) !important;
}

.bg-primary {
    background-color: var(--my-primary-color) !important;
}

.bg-secondary {
    background-color: var(--my-secondary-color) !important;
}

.bg-warning {
    background-color: var(--my-warning-color) !important;
}

.bg-danger {
    background-color: var(--my-danger-color) !important;
}

.bg-magenta {
    background-color: var(--my-magenta-color) !important;
}

.badge.bg-success {
    background-color: #28a745 !important; /* Bootstrap's default green for success */
}

.badge.bg-info {
    background-color: #17a2b8 !important; /* Bootstrap's default blue for info */
}


/* Using Custom Properties for Text Colors */

.text-primary {
    color: var(--my-primary-color) !important;
}

.text-secondary {
    color: var(--my-secondary-color) !important;
}

.text-warning {
    color: var(--my-warning-color) !important;
}

.text-danger {
    color: var(--my-danger-color) !important;
}

.success {
    background-color: #28a745; /* Success green */
    color: #fff; /* White text */
}

.warning {
    background-color: #ffc107; /* Warning orange/yellow */
    color: #fff; /* White text */
}

.danger {
    background-color: #dc3545; /* Danger red */
    color: #fff; /* White text */
}

.card-body {
    background-color: white;
}
/* Using Custom Properties for Nav Link Colors */

.nav-link {
    color: var(--my-primary-color) !important;
}

.nav-link:hover, .nav-link:focus {
    color: darken(var(--my-primary-color), 10%) !important; /* Adjust darken percentage to your liking */
    text-decoration: none !important;  /* Remove underline on hover/focus */
}

.nav-link.active {
    color: darken(var(--my-primary-color), 15%) !important; /* Adjust darken percentage to your liking */
    background-color: lighten(var(--my-primary-color), 30%) !important; /* Adjust lighten percentage to your liking */
}

.footer {
    padding: 10px 0;
    width: 100%;
}
.footer a {
    margin: 0 10px;
    color: black;
    text-decoration: none; /* Removes underlines */
    font-size: 0.8rem; /* Sets a smaller font size */
}
.footer a:hover {
    text-decoration: none; /* Ensures no underlines on hover */
}

hr {
    margin: 2px auto;  /* Center the line and provide space above and below */
}

.fp-scrollable-content {
    max-height: 500px;
    overflow-y: scroll;
}

.full-width {
    width: 100%;
}

.video-container {
    width: 90%; /* Adjust as needed */
    margin: 0 auto; /* Center the container */
}

/* Custom Sidebar Styles */
div.bg-black {
    background-color: #000 !important; /* Ensures the background is black */
}

.nav-link {
    color: white !important; /* Ensures the icons (and text) are white */
}

/* Custom width adjustment */
.col-auto {
    padding: 0; /* Removes default padding */
    width: auto; /* Sets width to content width */
}

/* Override default Bootstrap padding and margins */
.bg-black .nav-link, .bg-black .nav-item {
    padding: 0;
    margin: 0;
}

/* Hide text next to icons for all screen sizes if not needed */
.bg-black .nav-link .ms-1 {
    display: none;
}

/* Additional adjustments if needed */
.bg-black .nav-pills {
    padding-left: 0;
}

.bg-black .dropdown-menu {
    margin-top: 0;
}

#chartTabs .nav-link {
    color: white; /* Default color */
}

#chartTabs .nav-link.bg-dark.text-success {
    color: #28a745 !important; /* Bootstrap success color, adjust as needed */
}

#chartTabs .nav-link.bg-dark.text-warning {
    color: #ffc107 !important; /* Bootstrap warning color, adjust as needed */
}

#chartTabs .nav-link.bg-dark.text-primary {
    color: #007bff !important; /* Bootstrap primary color, adjust as needed */
}

#chartTabs .nav-link.bg-dark.text-danger {
    color: #dc3545 !important; /* Bootstrap danger color, adjust as needed */
}

#chartTabs + #tabContent {
    display: flex;
    margin-top: 20px; /* Adjust as needed for spacing below the tabs */
}

#chartOptions .nav-link:hover, #chartOptions .nav-link.active-chart {
    background-color: var(--bs-info); /* Bootstrap info color */
    color: black; /* Black text color */
}

#chartOptions .nav-link.active {
    background-color: var(--bs-primary); /* Bootstrap primary color */
    color: black; /* Black text color */
}

#chartOptions .nav-link.disabled {
    pointer-events: none; /* Makes the link non-clickable */
    color: gray; /* Optional: Gray out the text */
}

#tabContent > .flex-shrink-0 {
    /* Adjust width as needed or use flex properties */
    min-width: 200px; /* Example width for the nav bar */
}

.pdf-viewer-container {
    flex-grow: 1;
    margin-left: 30px; /* Space to the right of the navigation bar */
    width: calc(100% - 230px); /* Adjust based on the width of the nav bar */
}

.small-alert {
    padding: 5px 10px; /* Smaller padding */
    font-size: 0.8rem; /* Smaller font size */
}

.custom-card-header {
    color: inherit; /* Use the parent's text color */
    text-decoration: none; /* Remove underline */
    font-weight: normal; /* Optional: Adjust the font weight as needed */
}

.custom-card-header:hover, .custom-card-header:focus {
    text-decoration: none; /* Remove underline on hover/focus */
    color: inherit; /* Maintain the same color on hover/focus */
}