<div class="container py-5">
    <!-- Videos Section -->
    <div class="row mb-5">
        <div class="col-md-12">
            <h2 class="mb-4">Videos</h2>
            <!-- Embed YouTube Video -->
            <p>Overview & Tutorial Video</p>
            <div class="container text-center video-container">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="https://www.youtube.com/embed/mNOUZ_0jkOQ?si=408eb4fOafsPONuK" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen class="embed-responsive-item" style="height:300px; width:100%"></iframe>
                </div>
            </div>                   
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h1 class="mb-4">About FlightDash.io</h1>
            <p>
                <i class="fas fa-plane"></i> <strong>FlightDash.io</strong> is an open-source, free Electronic Flight Bag (EFB) web application dedicated to Flight Simmers. Our goal is to enhance your flight simulation experience through a range of features:
            </p>
            <ul class="list-unstyled pl-3">
                <li><i class="fas fa-check-circle"></i> Checklists: Written and readouts for ease of use. Hands-free voice recognition.</li>
                <li><i class="fas fa-save"></i> Customize and Save: Personalize your checklists and save them for repeated use.</li>
                <li><i class="fas fa-microphone-alt"></i> Voice Recognition: for hands-free checklist copmletion.</li>
                <li><i class="fas fa-globe-americas"></i> Comprehensive Airport Data: Get insights on airport details, weather reports (with configurable METAR sources including VATSIM), frequencies, and runway specifics. Also, get suggestions on in-use runways based on latest wind conditions.</li>
                <li><i class="fas fa-sync"></i> Flight Plan Synchronization: Seamless integration with SimBrief.</li>
                <li><i class="fas fa-chart-line"></i> Upcoming Feature: Stay tuned for possible Navigraph Charts in our future releases!</li>
                <li><i class="fas fa-clock"></i> Real-Time Flight Data: Monitor your flight's on-time vs. delayed statuses and track the timeliness of each flight phase.</li>
            </ul>
            <div class="alert alert-warning mt-4" role="alert">
                <i class="fas fa-exclamation-triangle"></i> Please Note: While the application is open-source and free, it's strictly designed for flight simulation. Do not use this for real-world aviation!
            </div>

            <h2 class="mt-5">Developer's Corner</h2>
            <p><i class="fas fa-cogs"></i> For those interested in the technical bits:</p>
            <ul class="list-group">
                <li class="list-group-item"><i class="fab fa-angular"></i><i class="fab fa-bootstrap"></i> <strong>Frontend:</strong> Angular JS + Bootstrap 5</li>
                <li class="list-group-item"><i class="fas fa-coffee"></i> <strong>Backend:</strong> Java Spring Boot, Thymeleaf, Maven</li>
                <li class="list-group-item"><i class="fas fa-cloud"></i> <strong>Hosting:</strong> Railway.app</li>
                <li class="list-group-item">
                    <strong>Integration Services:</strong>
                    <ul>
                        <li><i class="fas fa-cloud-sun"></i> METAR: <a href="https://beta.aviationweather.gov/" target="_blank">aviationweather.gov</a> & <a href="http://metar.vatsim.net" target="_blank">metar.vatsim.net</a></li>
                        <li><i class="fas fa-microphone"></i> Speech-to-text & Voice Recognition: Mozilla Web Speech API</li>
                        <li><i class="fas fa-plane-departure"></i> Airport Data: airportdb.io API</li>
                        <li><i class="fas fa-route"></i> Flight Plan: Simbrief API</li>
                    </ul>
                </li>
                <li class="list-group-item"><i class="fab fa-github"></i> <strong>Code Management:</strong> <a href="https://github.com/brian-mckeown/flightdash" target="_blank">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>