<div>
    <h2 class="text-center">Privacy Policy for flightdash.io</h2>
    <p><strong>Last Updated:</strong> March 25th, 2024</p>

    <p>Welcome to flightdash.io. Your privacy is of utmost importance to us. This Privacy Policy explains the types of
        information we do and do not collect, how we handle any data related to your use of the flightdash.io website
        (the "Service"), our use of third-party analytics, and our integration with Atlassian Jira Service Management for
        support ticket submissions and viewing knowledgebase articles.</p>

    <h4>1. Data We Collect</h4>
    <p>With the integration of Atlassian Jira Service Management, flightdash.io now facilitates the process whereby users can
        submit support tickets and view knowledgebase articles. During this process, users are required to provide their
        email address and create a password. The collection and processing of this information are carried out by
        Atlassian on behalf of flightdash.io. While flightdash.io does not directly store or process this information,
        our service partners at Atlassian may store this information in accordance with their privacy policies.</p>

    <h4>2. Third-Party Login Credentials and Data Handling</h4>
    <p>Our Service may provide login interfaces for third-party providers, including Atlassian Jira Service Management. Any
        login credentials (including email addresses and passwords) and associated user information entered are
        processed directly by those providers. We do not collect, transfer, or have access to these credentials or any
        other data associated with third-party logins, except as outlined in section 1 regarding Atlassian Jira Service
        Management.</p>

    <h4>3. Cookies and Google Analytics</h4>
    <p>flightdash.io utilizes Google Analytics to better understand how users interact with our website. Google
        Analytics uses cookies to collect standard internet log information and visitor behavior. This information is
        processed in a way that does not identify anyone individually. We do not make any effort to find out the
        identities of those visiting our website through Google Analytics.</p>

    <p>If you wish to opt-out of Google Analytics tracking, you can follow the instructions for your respective browser
        below:</p>

    <h5>Google Chrome:</h5>
    <ul>
        <li>Visit the Chrome Web Store and search for the "Google Analytics Opt-out Add-on."</li>
        <li>Add the extension to your browser.</li>
        <li>Once installed, the add-on will prevent the Google Analytics JavaScript (ga.js, analytics.js, and dc.js)
            running on websites from sharing information with Google Analytics about visit activity.</li>
    </ul>

    <h5>Firefox:</h5>
    <ul>
        <li>Visit the Firefox Add-ons site and search for "Google Analytics Opt-out."</li>
        <li>Add the extension to your browser.</li>
        <li>After installation, the extension will block data from being sent to Google Analytics.</li>
    </ul>

    <h5>Safari:</h5>
    <ul>
        <li>There isn't an official Google Analytics opt-out extension for Safari. However, you can use content blockers
            or other third-party extensions available on the Safari Extensions website to block trackers, which will
            include Google Analytics.</li>
        <li>Alternatively, you can use the "Prevent cross-site tracking" option in Safari's privacy settings, which
            might reduce the data sent to Google Analytics.</li>
    </ul>

    <p>You can also consider using browser settings or other extensions to prevent tracking across multiple websites.
    </p>


    <h4>4. GDPR Compliance</h4>
    <p>We fully recognize and respect the rights of individuals under the General Data Protection Regulation (GDPR). The
        following provides clarity about our data practices in the context of GDPR:</p>

    <h5>Collection and Use of Data:</h5>
    <ul>
        <li><strong>Google Analytics:</strong> The only external service we utilize that might process individual data
            is Google Analytics. This tool helps us understand website traffic and page usage. Google Analytics might
            use cookies to collect certain information, but it's aggregated and anonymized in a way that does not
            directly identify anyone.</li>
        <li><strong>Atlassian Jira Service Management:</strong> For users to view knowledgebase articles and submit
            support tickets, Atlassian requires the provision of an email address and the creation of a password. This process
            is managed and stored by Atlassian, acting as a data processor on our behalf. While we do not directly
            store this information, it is collected by Atlassian under their privacy terms.</li>
        <li><strong>flightdash.io's Role:</strong> Apart from Google Analytics and Atlassian Jira Service Management, flightdash.io does not collect, store,
            or process any personal data of its users. Any functionality related to entering login credentials is
            directly interfaced with third-party providers, ensuring that we don't access, store, or transfer these
            details.</li>
    </ul>

    <h5>Your GDPR Rights:</h5>
    <ul>
        <li><strong>Right to be Informed:</strong> We're transparent about our data practices, ensuring users know what
            data, if any, is collected and how it's used.</li>
        <li><strong>Right of Access:</strong> Individuals have the right to know what data is held about them and how
            it's processed. Since we do not collect personal data through flightdash.io, we wouldn't have any
            information to provide upon request. For requests pertaining to data collected through Atlassian Jira Service Management, users may need to directly contact Atlassian or utilize the provided tools in their service to manage their data.</li>
        <li><strong>Right to Rectification:</strong> If we were to hold data, individuals could ask for corrections.
            Given our data practices, this is inapplicable for our service. For requests pertaining to data collected through Atlassian Jira Service Management, users may need to directly contact Atlassian or utilize the provided tools in their service to manage their data.</li>
        <li><strong>Right to Erasure:</strong> Sometimes referred to as the 'right to be forgotten'. Since flightdash.io
            does not store personal data, there's no data to erase upon user request. For requests pertaining to data collected through Atlassian Jira Service Management, users may need to directly contact Atlassian or utilize the provided tools in their service to manage their data.</li>
        <li><strong>Right to Restrict Processing:</strong> Individuals have the right to block or suppress the
            processing of their personal data. As we don't process personal data beyond Google Analytics, users can use
            browser extensions or settings to prevent this as mentioned earlier. For requests pertaining to data collected through Atlassian Jira Service Management, users may need to directly contact Atlassian or utilize the provided tools in their service to manage their data.</li>
        <li><strong>Right to Data Portability:</strong> This allows individuals to obtain and reuse their data. Since we
            don't collect personal data, this right is not applicable to our service. For requests pertaining to data collected through Atlassian Jira Service Management, users may need to directly contact Atlassian or utilize the provided tools in their service to manage their data.</li>
        <li><strong>Right to Object:</strong> Individuals can object to the processing of their data. Again, as we only
            use Google Analytics, users can opt-out as described in the previous section. For requests pertaining to data collected through Atlassian Jira Service Management, users may need to directly contact Atlassian or utilize the provided tools in their service to manage their data.</li>
    </ul>

    <p>If you have further inquiries regarding your data rights in relation to our service, please reach out to us.</p>

    <h4>5. CCPA Compliance - Rights of California Residents</h4>
    <p>We acknowledge and respect the rights granted to California residents by the California Consumer Privacy Act
        (CCPA). The following outlines our practices in line with the CCPA:</p>

    <h5>Collection and Use of Data:</h5>
    <ul>
        <li><strong>Google Analytics:</strong> The only third-party service we utilize that might process individual
            data is Google Analytics. This tool assists us in understanding user interactions on our website. While
            Google Analytics may use cookies to gather certain types of information, it's aggregated and anonymized to
            the point where it does not identify individuals.</li>
        <li><strong>Atlassian Jira Service Management:</strong> We facilitate user interactions such as knowledgebase
            article viewing and support ticket submission through Atlassian, which involves collecting email addresses
            and passwords. This data collection is governed by Atlassian's privacy policies.</li>
        <li><strong>flightdash.io's Role:</strong> Beyond Google Analytics and Atlassian Jira Service Management, flightdash.io does not collect, store, or
            process any personal data. Any login actions are managed directly through third-party providers, which means
            we do not handle, store, or transfer these credentials in any way.</li>
    </ul>

    <h5>Your CCPA Rights:</h5>
    <ul>
        <li><strong>Right to Know:</strong> California residents have the right to know what personal information is
            collected, used, shared, or sold. We transparently outline our practices, ensuring you understand what, if
            any, data is collected and how it's used. Given our practices, we collect no personal data directly on
            flightdash.io. For specific requests
            related to the data handled by Atlassian, users may need to directly engage with Atlassian's data
            management processes.</li>
        <li><strong>Right to Delete:</strong> Californians can request the deletion of personal information held by a
            business. As flightdash.io doesn't hold personal data, there's nothing to delete upon a user request. For specific requests
            related to the data handled by Atlassian, users may need to directly engage with Atlassian's data
            management processes.</li>
        <li><strong>Right to Opt-Out:</strong> Residents have the right to opt-out of the sale of their personal
            information. We do not sell any personal information, ensuring you remain protected in this aspect. For specific requests
            related to the data handled by Atlassian, users may need to directly engage with Atlassian's data
            management processes.</li>
        <li><strong>Right to Non-Discrimination:</strong> We adhere to the principle that consumers cannot be
            discriminated against for exercising their rights under the CCPA. Our services are consistent for all users,
            irrespective of their decisions related to data privacy. For specific requests
            related to the data handled by Atlassian, users may need to directly engage with Atlassian's data
            management processes.</li>
    </ul>

    <p>If you have further questions regarding your rights under the CCPA in association with our service, please
        contact us.</p>

    <h4>6. Other Global Privacy Considerations</h4>
    <p>We are committed to respecting and understanding the diverse data protection regulations across various
        jurisdictions worldwide. Below we detail our stance and practices regarding global data privacy standards:</p>

    <h5>Collection and Use of Data:</h5>
    <ul>
        <li><strong>Google Analytics:</strong> We employ Google Analytics to gain insights into how users engage with
            our website. Although Google Analytics might employ cookies to obtain specific data points, it compiles and
            anonymizes this data in such a manner that individual identification isn't possible.</li>
        <li><strong>Atlassian Jira Service Management:</strong> Our integration with Atlassian for specific functionalities
            involves the collection of email addresses and passwords, managed by Atlassian in line with their privacy
            practices.</li>
        <li><strong>flightdash.io's Role:</strong> Beyond the use of Google Analytics and Atlassian Jira Service Management, flightdash.io neither collects,
            retains, nor processes any personal data. Any login mechanisms are directly interfaced through third-party
            entities, ensuring that we do not access, save, or transmit these particulars in any form.</li>
    </ul>

    <h5>Commitment to Global Standards:</h5>
    <ul>
        <li><strong>Transparency:</strong> We aim to provide clear information about any data practices we undertake,
            ensuring that users from any jurisdiction are fully informed.</li>
        <li><strong>Data Minimization:</strong> Staying true to global data protection principles, we only process the
            minimal data necessary for our operational needs. In our case, this excludes direct personal data
            collection, except for minimal data collected via Atlassian Jira Service Management for support and knowledgebase purposes.</li>
        <li><strong>Respect for User Rights:</strong> We honor the spirit of global data rights, including access,
            rectification, erasure, and objection, even if specific legislations might not apply directly.</li>
    </ul>

    <p>We recognize that each region may have its unique data protection regulations, and we remain committed to
        aligning with these standards wherever feasible. Should you have specific inquiries or concerns regarding data
        protection laws in your locality as they relate to our service, please get in touch with us.</p>

    <h4>7. Mozilla's Speech Web API</h4>
    <p>flightdash.io utilizes Mozilla's Speech Web API for speech recognition functionalities. We wish to emphasize that we do not store any recordings or data processed by this API. For comprehensive details on how the Speech Web API handles data, users are encouraged to refer to <a href="https://www.mozilla.org/en-US/privacy/" target="_blank">Mozilla's Privacy Policy</a>.</p>
    
    <p>By using FlightDash.io and the embedded functionalities of the Mozilla's Speech Web API, users acknowledge and agree that FlightDash.io, its developers, employees, associates, or any affiliated parties ("FlightDash.io Parties") are not responsible or liable for any data collection, processing, or any potential breaches by Mozilla. Users hereby relieve and hold harmless the FlightDash.io Parties from any claims, liabilities, damages, or any responsibilities arising from the use of the Mozilla's Speech Web API. It is the user's responsibility to review and understand Mozilla's privacy practices and policies, and by continuing the use of FlightDash.io, users expressly consent to Mozilla's data practices and absolve FlightDash.io Parties of any and all related responsibilities or liabilities.</p>
        
    <h4>8. OpenAI API Usage</h4>
    <p>In the utilization of FlightDash.io's AI Cabin Crew Announcement feature, which is powered by OpenAI, users are required to provide their own OpenAI API credentials. It is important to note that these credentials are used exclusively for the purpose of accessing OpenAI's services. FlightDash.io ensures the secure transmission of these credentials over HTTPS, adhering to strict data protection standards. We firmly state that at no point are these API credentials stored on FlightDash.io's servers. They are utilized on-the-fly for each session and are not retained post-transaction.</p>
    <p>Users must acknowledge the responsibility for the security and management of their OpenAI API credentials. In the context of data privacy and security, users are advised to maintain the confidentiality of their API credentials and to be cautious, particularly when utilizing features such as 'Export/Import Configuration' within FlightDash.io, where their API key could be exposed in plain text.</p>
    <p>By using the AI Cabin Crew Announcement feature, users also agree to the stipulations outlined in the "FlightDash.io's OpenAI Usage Policy." For a comprehensive understanding of the terms and conditions associated with this feature, users are advised to review the full policy at <a href="https://www.flightdash.io/openai-usage-policy" target="_blank">https://www.flightdash.io/openai-usage-policy</a>.</p>

    <h4>9. Data Security and Third-Party Integrations</h4>
    <p>We are committed to ensuring the security of your data. In the context of our integration with third-party
        services like Atlassian Jira Service Management, we rely on the robust security measures of our partners to protect
        the data you provide through their platforms. We encourage users to review the privacy policies of our
        third-party providers to understand their data handling practices.</p>

    <h4>10. User Rights and Data Management</h4>
    <p>Users interacting with the Atlassian Jira Service Management through flightdash.io have the right to access, modify,
        and delete their account information (including email addresses and passwords) stored by Atlassian. To exercise
        these rights, please refer to Atlassian's privacy policy and account management tools. Flightdash.io is
        committed to assisting users in navigating their rights and will provide support for queries related to data
        management on third-party platforms.</p>

    <h4>11. Changes to This Privacy Policy</h4>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
        Policy on this page. Changes to this Privacy Policy are effective when they are posted on this page.</p>

    <h4>12. Contact Us</h4>
    <p>If you have questions or concerns about this Privacy Policy, including our integration with third-party services
        like Atlassian Jira Service Management, please contact us at support@flightdash.atlassian.net.</p>
</div>