<div>
    <h2 class="text-center">Privacy Policy for flightdash.io</h2>
    <p><strong>Last Updated:</strong> September 26th, 2023</p>

    <p>Welcome to flightdash.io. Your privacy is of utmost importance to us. This Privacy Policy explains the types of
        information we do and do not collect, how we handle any data related to your use of the flightdash.io website
        (the "Service"), and our use of third-party analytics.</p>

    <h4>1. Data We Do Not Collect</h4>
    <p>flightdash.io does not collect, store, or process any personal data in its primary functionality. This includes,
        but is not limited to, names, email addresses, IP addresses, or any other information that can be used to
        identify an individual.</p>

    <h4>2. Third-Party Login Credentials</h4>
    <p>Our Service may provide login interfaces for third-party providers. Any login credentials you enter for
        third-party providers are processed directly by those providers. We do not collect, transfer, or have access to
        these credentials or any other data associated with third-party logins.</p>

    <h4>3. Cookies and Google Analytics</h4>
    <p>flightdash.io utilizes Google Analytics to better understand how users interact with our website. Google
        Analytics uses cookies to collect standard internet log information and visitor behavior. This information is
        processed in a way that does not identify anyone individually. We do not make any effort to find out the
        identities of those visiting our website through Google Analytics.</p>

    <p>If you wish to opt-out of Google Analytics tracking, you can follow the instructions for your respective browser
        below:</p>

    <h5>Google Chrome:</h5>
    <ul>
        <li>Visit the Chrome Web Store and search for the "Google Analytics Opt-out Add-on."</li>
        <li>Add the extension to your browser.</li>
        <li>Once installed, the add-on will prevent the Google Analytics JavaScript (ga.js, analytics.js, and dc.js)
            running on websites from sharing information with Google Analytics about visit activity.</li>
    </ul>

    <h5>Firefox:</h5>
    <ul>
        <li>Visit the Firefox Add-ons site and search for "Google Analytics Opt-out."</li>
        <li>Add the extension to your browser.</li>
        <li>After installation, the extension will block data from being sent to Google Analytics.</li>
    </ul>

    <h5>Safari:</h5>
    <ul>
        <li>There isn't an official Google Analytics opt-out extension for Safari. However, you can use content blockers
            or other third-party extensions available on the Safari Extensions website to block trackers, which will
            include Google Analytics.</li>
        <li>Alternatively, you can use the "Prevent cross-site tracking" option in Safari's privacy settings, which
            might reduce the data sent to Google Analytics.</li>
    </ul>

    <p>You can also consider using browser settings or other extensions to prevent tracking across multiple websites.
    </p>


    <h4>4. GDPR Compliance</h4>
    <p>We fully recognize and respect the rights of individuals under the General Data Protection Regulation (GDPR). The
        following provides clarity about our data practices in the context of GDPR:</p>

    <h5>Collection and Use of Data:</h5>
    <ul>
        <li><strong>Google Analytics:</strong> The only external service we utilize that might process individual data
            is Google Analytics. This tool helps us understand website traffic and page usage. Google Analytics might
            use cookies to collect certain information, but it's aggregated and anonymized in a way that does not
            directly identify anyone.</li>
        <li><strong>flightdash.io's Role:</strong> Apart from Google Analytics, flightdash.io does not collect, store,
            or process any personal data of its users. Any functionality related to entering login credentials is
            directly interfaced with third-party providers, ensuring that we don't access, store, or transfer these
            details.</li>
    </ul>

    <h5>Your GDPR Rights:</h5>
    <ul>
        <li><strong>Right to be Informed:</strong> We're transparent about our data practices, ensuring users know what
            data, if any, is collected and how it's used.</li>
        <li><strong>Right of Access:</strong> Individuals have the right to know what data is held about them and how
            it's processed. Since we do not collect personal data through flightdash.io, we wouldn't have any
            information to provide upon request.</li>
        <li><strong>Right to Rectification:</strong> If we were to hold data, individuals could ask for corrections.
            Given our data practices, this is inapplicable for our service.</li>
        <li><strong>Right to Erasure:</strong> Sometimes referred to as the 'right to be forgotten'. Since flightdash.io
            does not store personal data, there's no data to erase upon user request.</li>
        <li><strong>Right to Restrict Processing:</strong> Individuals have the right to block or suppress the
            processing of their personal data. As we don't process personal data beyond Google Analytics, users can use
            browser extensions or settings to prevent this as mentioned earlier.</li>
        <li><strong>Right to Data Portability:</strong> This allows individuals to obtain and reuse their data. Since we
            don't collect personal data, this right is not applicable to our service.</li>
        <li><strong>Right to Object:</strong> Individuals can object to the processing of their data. Again, as we only
            use Google Analytics, users can opt-out as described in the previous section.</li>
    </ul>

    <p>If you have further inquiries regarding your data rights in relation to our service, please reach out to us.</p>

    <h4>5. CCPA Compliance - Rights of California Residents</h4>
    <p>We acknowledge and respect the rights granted to California residents by the California Consumer Privacy Act
        (CCPA). The following outlines our practices in line with the CCPA:</p>

    <h5>Collection and Use of Data:</h5>
    <ul>
        <li><strong>Google Analytics:</strong> The only third-party service we utilize that might process individual
            data is Google Analytics. This tool assists us in understanding user interactions on our website. While
            Google Analytics may use cookies to gather certain types of information, it's aggregated and anonymized to
            the point where it does not identify individuals.</li>
        <li><strong>flightdash.io's Role:</strong> Beyond Google Analytics, flightdash.io does not collect, store, or
            process any personal data. Any login actions are managed directly through third-party providers, which means
            we do not handle, store, or transfer these credentials in any way.</li>
    </ul>

    <h5>Your CCPA Rights:</h5>
    <ul>
        <li><strong>Right to Know:</strong> California residents have the right to know what personal information is
            collected, used, shared, or sold. We transparently outline our practices, ensuring you understand what, if
            any, data is collected and how it's used. Given our practices, we collect no personal data directly on
            flightdash.io.</li>
        <li><strong>Right to Delete:</strong> Californians can request the deletion of personal information held by a
            business. As flightdash.io doesn't hold personal data, there's nothing to delete upon a user request.</li>
        <li><strong>Right to Opt-Out:</strong> Residents have the right to opt-out of the sale of their personal
            information. We do not sell any personal information, ensuring you remain protected in this aspect.</li>
        <li><strong>Right to Non-Discrimination:</strong> We adhere to the principle that consumers cannot be
            discriminated against for exercising their rights under the CCPA. Our services are consistent for all users,
            irrespective of their decisions related to data privacy.</li>
    </ul>

    <p>If you have further questions regarding your rights under the CCPA in association with our service, please
        contact us.</p>

    <h4>6. Other Global Privacy Considerations</h4>
    <p>We are committed to respecting and understanding the diverse data protection regulations across various
        jurisdictions worldwide. Below we detail our stance and practices regarding global data privacy standards:</p>

    <h5>Collection and Use of Data:</h5>
    <ul>
        <li><strong>Google Analytics:</strong> We employ Google Analytics to gain insights into how users engage with
            our website. Although Google Analytics might employ cookies to obtain specific data points, it compiles and
            anonymizes this data in such a manner that individual identification isn't possible.</li>
        <li><strong>flightdash.io's Role:</strong> Beyond the use of Google Analytics, flightdash.io neither collects,
            retains, nor processes any personal data. Any login mechanisms are directly interfaced through third-party
            entities, ensuring that we do not access, save, or transmit these particulars in any form.</li>
    </ul>

    <h5>Commitment to Global Standards:</h5>
    <ul>
        <li><strong>Transparency:</strong> We aim to provide clear information about any data practices we undertake,
            ensuring that users from any jurisdiction are fully informed.</li>
        <li><strong>Data Minimization:</strong> Staying true to global data protection principles, we only process the
            minimal data necessary for our operational needs. In our case, this excludes direct personal data
            collection.</li>
        <li><strong>Respect for User Rights:</strong> We honor the spirit of global data rights, including access,
            rectification, erasure, and objection, even if specific legislations might not apply directly.</li>
    </ul>

    <p>We recognize that each region may have its unique data protection regulations, and we remain committed to
        aligning with these standards wherever feasible. Should you have specific inquiries or concerns regarding data
        protection laws in your locality as they relate to our service, please get in touch with us.</p>

    <h4>7. Changes to This Privacy Policy</h4>
    <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy
        Policy on this page. Changes to this Privacy Policy are effective when they are posted on this page.</p>

    <h4>8. Contact Us</h4>
    <p>If you have questions or concerns about this Privacy Policy, please contact at bmckeown2011@gmail.com.</p>
</div>