<div>
    <h4>Support & Contact</h4>
    <p><i class="fab fa-github" style="vertical-align: middle;"></i> <strong>Github Issues</strong> are used to track
        todos, bugs, feature requests, and more. As issues are created, they’ll appear in a searchable and filterable
        list. To get started, you can create an issue below.</p>

    <h5>Tracking Issues</h5>
    <p>
        You can track and view all existing issues at:
        <a href="https://github.com/brian-mckeown/flightdash/issues" target="_blank">
            <i class="fab fa-github" style="vertical-align: middle;"></i>
            Track Issues
        </a>
    </p>

    <h5>Report a New Issue</h5>
    <p>
        To report a new issue or enhancement request, visit:
        <a href="https://github.com/brian-mckeown/flightdash/issues/new" target="_blank">
            <i class="fab fa-github" style="vertical-align: middle;"></i>
            Report Issue
        </a>
    </p>

    <p><strong>Note:</strong> In order to participate and interact with the issues, you will require a GitHub account.
        Please consider <a href="https://docs.github.com/en/github/site-policy/github-terms-of-service"
            target="_blank">GitHub's Terms of Service</a> and <a
            href="https://docs.github.com/en/github/site-policy/github-privacy-statement" target="_blank">Privacy
            Policy</a> before creating an account and participating.</p>
    <p>Any other inquiries can be directed to the developer:</p>
    <a href="mailto:example@example.com">bmckeown2011@gmail.com</a>
</div>