<div>
    <h2 class="text-center">Terms of Use for flightdash.io</h2>
    <p><strong>Last Updated:</strong> March 25th, 2024</p>

    <p>Welcome to flightdash.io. Please read these Terms of Use ("Terms", "Terms of Use") carefully before using the
        flightdash.io website (the "Service") operated by the flightdash.io development team ("us", "we", or "our").</p>

    <h4>1. Acceptance of Terms</h4>
    <p>By accessing and using flightdash.io, you agree to be bound by these Terms. If you disagree with any part of the
        terms, then you may not access the Service.</p>

    <h4>2. Purpose of the Service</h4>
    <p>The Service is provided for flight simulation purposes only. It is not intended for real-life aviation,
        navigation, or any purpose other than entertainment and simulation.</p>

    <h4>3. Responsibility</h4>
    <p>flightdash.io is designed primarily for flight simulation purposes and is offered "as is" and "as available". The
        application suggests runways based on wind calculations, provides checklists, weather updates, flight plans, and
        charts. While these tools and data are sourced to be as accurate as possible, they rely on third-party
        providers. As such, discrepancies or inaccuracies may occur.</p>
    <p>While this information can be used as a supplementary tool, it's paramount to adhere to the directions provided
        by Air Traffic Control (ATC) for active runways, ensure the accuracy of runway data, and refer to relevant
        NOTAMs. Additionally, always ensure you cross-reference with other reliable sources when considering checklists,
        weather, flight plans, and charts. Relying on the data and recommendations provided by this application is
        solely at your discretion and risk. We make no representations or guarantees, express or implied, regarding the
        operation of the Service, or the accuracy, completeness, or reliability of any content provided.</p>
    <p>It's crucial to understand that no tool, including flightdash.io, can replace professional judgment or supersede
        official aviation procedures and safety guidelines. Under no circumstances should the Service or its data be
        used for real-world aviation purposes. By leveraging the data and suggestions from flightdash.io, you
        acknowledge and agree that the developers, maintainers, contributors, and all associated parties of the
        website/application are absolved from any responsibility or liability for any occurrences or outcomes related to
        the use of the provided data and suggestions.</p>

    <p>Under no circumstances should the Service be used for real-life aviation or navigation. We are not responsible
        for any decisions or actions you take based on the information provided by the Service, and we expressly
        disclaim any liability for any damage or injury that may result from such decisions or actions.</p>

    <h4>4. Open Source</h4>
    <p>flightdash.io is open source, which means the source code of the Service is freely available for modification and
        distribution. While you are free to use, modify, and distribute the source code, you do so at your own risk.</p>

    <h4>5. Open Beta Features</h4>
    <p>FlightDash.io may offer certain features in an "open beta" phase, which are provided for testing and experimental purposes. Users acknowledge that these features are under development, may contain bugs or errors, and are provided on an "as is" and "as available" basis. FlightDash.io makes no representations or warranties of any kind, express or implied, as to the operation or functionality of these open beta features.</p>
    <h6>Use of Third-Party Services:</h6>
    <p>Some features of FlightDash.io may incur costs through third-party services. Users agree that any costs incurred through the use of third-party services in conjunction with FlightDash.io's features are solely the user's responsibility. FlightDash.io, its affiliates, officers, directors, employees, agents, contributors, and licensors shall not be responsible for any charges, fees, or costs incurred as a result of using such third-party services.</p>
    <h6>Understanding Third-Party Terms: </h6>
    <p>Before using any feature that involves third-party services, users must thoroughly review and understand the terms and conditions, including any pricing policies, of such services. Users acknowledge that it is their responsibility to comprehend and agree to the terms of service of any third-party provider involved.</p>
    <h6>No Liability for Open Beta and Third-Party Services: </h6>
    <p>FlightDash.io shall not be liable for any issues, damages, losses, or liabilities arising from the use of open beta features or third-party services. This includes, but is not limited to, any direct, indirect, incidental, punitive, and consequential damages. Users acknowledge that FlightDash.io is an open-source and experimental tool, and agree that no fault, claims, or liabilities shall be attributed to FlightDash.io for any shortcomings, failures, or non-performance of open beta features or third-party services.</p>
    <h6>Review of Specific Policies:</h6>
    <p>Users are advised to review the "FlightDash.io's OpenAI Usage Policy" (available at https://www.flightdash.io/openai-usage-policy) before using features powered by OpenAI. The understanding and acceptance of this policy are essential for the use of such features.</p>
    <p><strong>By using FlightDash.io, particularly its open beta features and any third-party services, users acknowledge and agree to the terms set forth in this clause.</strong></p>    



    <h4>6. Data Privacy</h4>
    <p>We value your privacy. flightdash.io does not collect, store, or process any personal data. Any data you input
        into the Service is processed locally and is not transmitted to or stored by us.</p>

    <h4>7. Limitation of Liability</h4>
    <p>In no event shall flightdash.io, its directors, developers, employees, partners, agents, suppliers, or
        affiliates, be liable for any indirect, incidental, special, consequential, or punitive damages, or any loss of
        profits or revenues, whether incurred directly or indirectly, or any loss of data, use, goodwill, or other
        intangible losses, resulting from (a) your use or inability to use the Service; (b) any unauthorized access to
        or use of our servers and/or any personal information stored therein; or (c) any other matter relating to the
        Service.</p>

    <h4>8. Termination</h4>
    <p>We reserve the right to terminate or suspend your access to the Service, without prior notice, for conduct that
        we believe violates these Terms or is harmful to other users of the Service, us, or third parties, or for any
        other reason.</p>

    <h4>9. Changes to These Terms</h4>
    <p>We may revise these Terms from time to time. The most current version will always be on this page. By continuing
        to use the Service after those revisions become effective, you agree to be bound by the revised Terms.</p>

    <h4>10. Governing Law</h4>
    <p>These Terms are governed by the laws of the Commonwealth of Massachusetts, United States of America, without
        regard to its conflict of law provisions.</p>

    <h4>11. Contact Us</h4>
    <p>If you have any questions about these Terms, please contact support@flightdash.atlassian.net</p>

    <p class="text-center"><strong>By using flightdash.io, you acknowledge that you have read, understood, and agree to
            be bound by these Terms.</strong></p>
</div>