<!DOCTYPE html>
<html ng-app="flightMapApp">
<head>
    <title>VAT TRACK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


   <!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Fontawesome-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- custom css-->
    <link rel="stylesheet" href="./map-style.css"/>
</head>
<body>
    <div ng-controller="MapController as mapCtrl">

        <!-- NavBar -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active disabled" href="#">Vat Track <span class="text-secondary">(Beta)</span></a>
                </li>
            </ul>
            </div>
            <div class="map-controls" style="position: absolute; top: 10px; right: 10px; z-index: 1000;">
                <!-- Search bar and Dropdown -->
                <div style="position: relative;">
                    <input type="text" ng-model="mapCtrl.searchQuery" ng-change="mapCtrl.searchCallsign()" placeholder="Search Callsign" class="form-control form-control-sm" style="width: 125px;">
                    <div class="list-group" style="position: absolute; top: 100%; z-index: 1001;" ng-show="mapCtrl.searchResults.length">
                        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="result in mapCtrl.searchResults" ng-click="mapCtrl.selectFlight(result)">
                            <div class="d-flex w-100 justify-content-start align-items-center">
                                <img ng-src="./assets/logos/{{result.callsign.substring(0, 3)}}.png" onerror="this.style.display='none'" style="height: 25px; width: auto; margin-right: 10px;">
                                {{result.callsign}}
                            </div>
                        </a>
                    </div>
                </div>
                 <!-- Streamers Button -->
                 <button type="button" ng-class="{'btn-primary': mapCtrl.showStreamerOverlay, 'btn-outline-primary': !mapCtrl.showStreamerOverlay}" class="btn btn-sm" ng-click="mapCtrl.toggleStreamerOverlay()">
                    Streamers
                </button>
                 <!-- Weather Button -->
                 <button type="button" ng-class="{'btn-primary': mapCtrl.isWeatherLayerActive, 'btn-outline-primary': !mapCtrl.isWeatherLayerActive}" class="btn btn-sm" ng-click="mapCtrl.toggleWeatherLayer()">
                    <i class="fa-solid fa-cloud-sun-rain"></i>
                </button>
                <!-- Refresh Button -->
                <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="mapCtrl.resetAllMarkers()">
                    <i class="fa-solid fa-arrow-rotate-right"></i>
                </button>
            </div>
        </nav>

        <div id="map" style="position: relative;">
            
            
            <!-- Streamers Overlay -->
            <div class="streamers-overlay" ng-show="mapCtrl.streamers.length && mapCtrl.showStreamersOverlay">
                <p>Streamers</p>
                <div ng-repeat="streamer in mapCtrl.streamers" class="streamer-item" ng-click="mapCtrl.selectFlightByCallsign(streamer.callsign)">
                    <i class="fa-brands" ng-class="{'fa-youtube': streamer.platform === 'youtube', 'fa-twitch': streamer.platform === 'twitch'}"></i>
                    {{streamer.callsign}}
                    <span ng-if="!$last" class="streamer-separator">|</span>
                </div>
            </div>
            
        
        
        </div>
    </div>
   
    <!-- Custom Script -->
    <script src="sharedService.js"></script>
    <script src="map-airports.js"></script>
    <script src="map-app.js"></script>
    
</body>
</html>
