<!DOCTYPE html>
<html ng-app="flightMapApp">
<head>
    <title>VAT TRACK</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">

<!-- Latest compiled JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>


   <!-- Leaflet CSS -->
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

<!-- Leaflet JS -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

<!-- Fontawesome-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

    <!-- custom css-->
    <link rel="stylesheet" href="./map-style.css"/>
</head>
<body>
    <div ng-controller="MapController as mapCtrl">
        <div id="map" style="height: 100vh; position: relative;">
            <a href="/" target="_blank" class="map-heading">VAT TRACK (Beta) by <i class="fas fa-plane"></i> FlightDash.io</a>
            <div class="map-controls" style="position: absolute; top: 10px; right: 10px; z-index: 1000;">
            <!-- Search bar and Dropdown -->
            <div style="position: relative;">
                <input type="text" ng-model="mapCtrl.searchQuery" ng-change="mapCtrl.searchCallsign()" placeholder="Search Callsign" class="form-control form-control-sm" style="width: 125px;">
                <div class="list-group" style="position: absolute; top: 100%; z-index: 1001;" ng-show="mapCtrl.searchResults.length">
                    <a href="#" class="list-group-item list-group-item-action" ng-repeat="result in mapCtrl.searchResults" ng-click="mapCtrl.selectFlight(result)">{{result.callsign}}</a>
                </div>
            </div>
             <!-- Weather Button -->
             <button type="button" ng-class="{'btn-primary': mapCtrl.isWeatherLayerActive, 'btn-outline-primary': !mapCtrl.isWeatherLayerActive}" class="btn btn-sm" ng-click="mapCtrl.toggleWeatherLayer()">
                <i class="fa-solid fa-cloud-sun-rain"></i>
            </button>
            <!-- Refresh Button -->
            <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="mapCtrl.resetAllMarkers()">
                <i class="fa-solid fa-arrow-rotate-right"></i>
            </button>
        </div>
        </div>
    </div>

   
    <!-- Custom Script -->
    <script src="map-airports.js"></script>
    <script src="map-app.js"></script>
    
</body>
</html>
